<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
		/>
		<title>Profile</title>
		<link rel="stylesheet" href="../stylesheets/dashboard.css" />
		<link rel="stylesheet" href="../stylesheets/profile.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<main id="main">
			<!--  ----Main Background Code ----- -->
			<%- include('partials/MainBackground.ejs') %>

			<!--  ---- Left Container Code ----- -->
			<%- include('partials/LeftContainer.ejs') %>

			<!--  ----Center Container Code ----- -->
			<div class="center-container">
				<div class="profile-container">
					<h4 class="pb-4 border-bottom fcb">Profile Setting</h4>
					<div class="wrapper bg-white mt-sm-5">
						<div class="upload-container align-items-start py-3 border-bottom">
							<div class="profile-dp">
								<img src="<%= admin.logo %>" class="img" alt="" />
							</div>

							<form
								action="/uploadimg"
								enctype="multipart/form-data"
								method="post"
								class="upload-form"
							>
								<div class="pl-sm-4d" id="img-section">
									<b>Profile Photo</b>
									<!-- <p>Accepted file type .png. Less than 1MB</p> -->
								</div>
								<input
									class="border choose"
									type="file"
									name="image"
									required
									placeholder="ok"
								/>
								<input class="btn button border" type="submit" value="Upload" />
							</form>
						</div>
						<form
							action="/profile-update"
							method="post"
							class="bg-white mt-sm-5"
						>
							<div class="py-2">
								<div class="row py-2">
									<div class="col-md-6">
										<label for="username">Username</label>
										<input
											type="text"
											name="username"
											class="bg-light form-control nochange"
											placeholder="<%= admin.username %>"
										/>
									</div>
								</div>
								<div class="row py-2">
									<div class="col-md-6">
										<label for="firstname">First Name</label>
										<input
											type="text"
											name="firstname"
											class="bg-light form-control"
											placeholder="<%= admin.firstname %>"
										/>
									</div>
									<div class="col-md-6 pt-md-0 pt-3">
										<label for="lastname">Last Name</label>
										<input
											type="text"
											name="lastname"
											class="form-control"
											placeholder="<%= admin.lastname %>"
										/>
									</div>
								</div>
								<div class="row py-2">
									<div class="col-md-6">
										<label for="email">Email Address</label>
										<input
											type="email"
											name="email"
											class="bg-light form-control nochange"
											placeholder="<%= admin.email %>"
										/>
									</div>
									<div class="col-md-6 pt-md-0 pt-3">
										<label for="contact">Phone Number</label>
										<input
											type="number"
											name="contact"
											class="bg-light form-control"
											placeholder="<%= admin.contact %>"
										/>
									</div>
								</div>
								<!-- <div class="row py-2">
								<div class="col-md-6">
									<label for="country">Country</label>
									<select name="country" id="country" class="bg-light">
										<option value="india" selected>India</option>
										<option value="usa">USA</option>
										<option value="uk">UK</option>
										<option value="uae">UAE</option>
										<option value="uae">America</option>
										<option value="uae">North America</option>
									</select>
								</div>
								<div class="col-md-6 pt-md-0 pt-3" id="lang">
									<label for="language">Language</label>
									<div class="arrow">
										<select name="language" id="language" class="bg-light">
											<option value="english" selected>English</option>
											<option value="english_us">
												English (United States)
											</option>
											<option value="enguk">English UK</option>
											<option value="arab">Arabic</option>
										</select>
									</div>
								</div>
							</div> -->
								<div class="py-3 pb-4 border-bottom savecontainer">
									<button class="btn btn-primary mr-3 savebtn">
										Save Changes
									</button>
									<button class="btn border button danger">Cancel</button>
								</div>
								<!-- <div class="d-sm-flex align-items-center pt-3" id="deactivate">
									<div>
										<b>Deactivate your account</b>
										<p>Details about your company account and password</p>
									</div>
									<div class="ml-auto">
										<button class="btn danger">Deactivate</button>
									</div> -->
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--  ----Center Container Code ----- -->

			<!--  ----Right Container Code ----- -->
			<%- include('partials/RightContainer.ejs') %>
			<!--  ----Right Container Code ----- -->
		</main>
		<script src="../javascripts/common.js"></script>
		<script src="../javascripts/lightdarkmode.js"></script>
	</body>
</html>
