<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
		/>
		<title>Transactions 📋</title>
		<link rel="stylesheet" href="../stylesheets/dashboard.css" />
		<link rel="stylesheet" href="../stylesheets/transaction.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<main id="main">
			<!--  ----Main Background Code ----- -->
			<%- include('partials/MainBackground.ejs') %>

			<!--  ---- Left Container Code ----- -->
			<%- include('partials/LeftContainer.ejs') %>

			<!--  ----Center Container Code ----- -->
			<div class="center-container">
				<!-- Search Bar with Data filter Manipulation -->
				<div class="search-container">
					<div class="input-box">
						<i class="uil uil-search"></i>
						<input
							type="search"
							id="searchbar"
							onkeyup="searchExpense()"
							placeholder="Search here..."
						/>
						<!-- <button class="button">Search</button> -->
					</div>
				</div>
				<!-- Transaction Container -->
				<!-- <div class="tabs">
					<a href="/search">All</a>
					<a href="/search/food">Food</a>
					<a href="/search/home">Home</a>
					<a href="/search/travel">Travel</a>
					<a href="/search/technology">technology</a>
					<a href="/search/cloth">Cloth</a>
					<a href="/search/transportation">Transportation</a>
					<a href="/search/education">Education</a>
				</div> -->
				<div class="transaction-container">
					<div class="transaction-heading">
						<h1>Transaction</h1>
						<!-- <input
							type="text"
							id="searchbar"
							onkeyup="searchExpense(food)"
							placeholder="Search here..."
						/> -->
						<!-- 
						<input
							type="button"
							id="searchbar"
							value="food"
							onclick="okd('food')"
							placeholder="Search here..."
						/> -->
					</div>
					<!-- <select id="cars" name="cars">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select> -->

					<div class="transaction-list">
						<section>
							<div class="tbl-header">
								<table cellpadding="0" cellspacing="0" border="0">
									<thead>
										<tr>
											<th>Code</th>
											<th>Name</th>
											<th>Price</th>
											<th>Category</th>
											<th>Payment Mode</th>
										</tr>
									</thead>
								</table>
							</div>
							<div class="tbl-content">
								<table cellpadding="0" cellspacing="0" border="0">
									<tbody>
										<% if (expenses.length === 0) { %>
										<tr>
											<td colspan="5">No transactions</td>
										</tr>
										<% } else { %> <% expenses.forEach(function(exp ,idx){ %>
										<tr class="expCard">
											<td>
												<div class="exp-count"><%= idx + 1 %></div>
											</td>
											<td class="exp-name"><%= exp.remark %></td>
											<td>₹ <%= exp.amount %></td>
											<td><%= exp.category %></td>
											<td class="expPayment"><%= exp.paymentmode %></td>
										</tr>
										<% }) %> <% } %>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
			<!--  ----Center Container Code ----- -->

			<!--  ----Right Container Code ----- -->
			<%- include('partials/RightContainer.ejs') %>
			<!--  ----Right Container Code ----- -->
		</main>
		<script src="../javascripts/transaction.js"></script>

		<script src="../javascripts/dashboard.js"></script>
		<script src="../javascripts/lightdarkmode.js"></script>
	</body>
</html>
