<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
		/>
		<title>wallet</title>
		<link rel="stylesheet" href="../stylesheets/dashboard.css" />
		<link rel="stylesheet" href="../stylesheets/wallet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<main id="main">
			<!--  ----Main Background Code ----- -->
			<%- include('partials/MainBackground.ejs') %>
			<!--  ----Main Background Code ----- -->

			<!--  ---- Left Container Code ----- -->
			<%- include('partials/LeftContainer.ejs') %>
			<!--  ---- Left Container Code ----- -->

			<!--  ----Center Container Code ----- -->
			<div class="center-container">
				<div class="search-container">
					<div class="input-box">
						<i class="uil uil-search"></i>
						<input
							type="text"
							id="search-input"
							oninput="SetDefault($(this).val());"
							placeholder="Search here..."
						/>
						<button class="button">Search</button>
					</div>

					<!-- Render a SERVER EXPENSE DATA from Server/Database and hidden inside the Template Tag from here we send Data to our Javascript file -->
					<% expenses.forEach(e=>{ %>
					<template data-expense-rec>
						<div data-search-show-rec>
							<span class="e-icon"><i class="ri-oil-line"></i> </span>
							<div class="e-details-container">
								<span class="e-details">
									<div class="exp-category" data-category-rec>
										<%= e.category %>
									</div>
									<div class="exp-payment" data-paymentMode-rec>
										<%= e.paymentmode %>
									</div>
									<div class="exp-remark" data-remark-rec><%= e.remark %></div>
									<div class="exp-user" data-user-rec><%= e.user %></div>
									<div class="exp-id" data-id-rec><%= e._id %></div>
									<div class="exp-date" data-date-rec><%= e.createdAt %></div>
									<div class="exp-amount" data-amount-rec><%= e.amount %></div>
								</span>
								<span class="e-amount">
									<i class="ri-money-rupee-circle-line"></i>
									<div class="exp-amount" data-amount-rec></div>
								</span>
							</div>
							<a href="">View</a>
						</div>
					</template>
					<% }) %>

					<!-- This is BLANK CONTAINER where we are going to show data by SEARCH BAR MANIPULATION -->
					<div class="search-showing notvisible" data-expense-container></div>
					<!-- from JavaScript Data which have collect from SERVER EXPENSE DATA now that we are using here and show it to BLANK CONTAINER -->
					<template data-expense-template>
						<li data-search-show>
							<span class="e-icon"><i class="ri-oil-line"></i> </span>
							<div class="e-details-container">
								<span class="e-details">
									<div class="exp-category" data-category></div>
									<div class="exp-remark" data-remark></div>
									<div class="exp-payment" data-paymentMode></div>
									<div class="exp-date" data-date></div>
									<div class="exp-user" data-user></div>
									<div class="exp-id" data-id></div>
								</span>
								<span class="e-amount">
									<i class="ri-money-rupee-circle-line"></i>
									<div class="exp-amount" data-amount></div>
								</span>
							</div>
							<a href="">View</a>
						</li>
					</template>
				</div>
				<div class="head-board wl-pd dfacjsb">
					<div class="left-head wallet-head">
						<div class="wallet-icon">
							<img src="./wallet.png" alt="" />
						</div>
						<div class="wallet-title">
							<h1>Wallet</h1>
							<p>Change default Wallet</p>
						</div>
					</div>
					<div class="right-head wallet-head">
						<form action="/search-calendar" id="wallet-calendar" method="post">
							<input
								type="month"
								name="walletmonth"
								min="2021-01"
								max="2025-01"
								value="<%= currentTime.wallcal %>"
								id="month-input"
								onchange="selectCalendarDate()"
							/>
							<!-- <button  style="opacity: 0;"></button> -->
						</form>

						
					</div>
				</div>
				<div class="wallet-record">
					<div class="wlr-left">
						<div class="wallet-top">
							<div class="wallet-card">
								<div class="wallet-icon"></div>
								<h2>4500</h2>
								<p>Expenses</p>
							</div>
							<div class="wallet-card">
								<div class="wallet-icon"></div>
								<h2>4500</h2>
								<p>Expenses</p>
							</div>
							<div class="wallet-card">
								<div class="wallet-icon"></div>
								<h2>4500</h2>
								<p>Expenses</p>
							</div>
						</div>
						<div class="wallet-bottom">
						</div>
					</div>
					<div class="wlr-right">
						<h1>Budget</h1>
						<div class="doughnut"></div>
						<div class="wallet-total">
							<span>
								<h2 class="currency">
									<%= income.reduce((accumulator,currentValue)=> accumulator+
									currentValue.incomeAmount , 0) %>
								</h2>
								<p>Monthly limit</p>
							</span>
							<span>
								<h2 class="currency">
									<%= expenses.reduce((accumulator,currentValue)=> accumulator+
									currentValue.amount , 0) %>
								</h2>
								<p>Remaining</p>
							</span>
						</div>
					</div>
				</div>
				<div class="big-expense">
					<h1 class="wl-pd">Categories with Biggest Expense</h1>
					<div class="b-cards">
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
						<div class="expense-card">
							<div class="exp-i"><i class="ri-store-2-line"></i></div>
							<h3>Shopping Cart</h3>
							<h4>$1200</h4>
						</div>
					</div>
				</div>
			</div>
			<!--  ----Center Container Code ----- -->

			<!--  ----Right Container Code ----- -->
			<%- include('partials/RightContainer.ejs') %>
			<!--  ----Right Container Code ----- -->
		</main>
		<script src="../javascripts/dashboard.js"></script>
		<script src="../javascripts/lightdarkmode.js"></script>
	</body>
</html>
